<h1 id="main-title">Fornecedores</h1>
<br>

<div class="row" id="supplier-list">
	<div class="col">
		<div class="card card-small mb-4">
			<div class="card-body p-0 pb-3 text-center">
				<table class="table mb-0" id="suppliers" >
					<thead class="bg-light">
						<tr>
						<th scope="col" class="border-0">#</th>
						<th scope="col" class="border-0">Nome</th>
						<th scope="col" class="border-0">Email</th>
            <th scope="col" class="border-0">Categoria</th>
						<th scope="col" class="border-0">Ações</th>
						</tr>
					</thead>
					<tbody id="membros_t">
						<% cont = 1 %>
						<% @suppliers.each do |supplier| %>
							<tr>
								<td><%= cont %></td>
								<td><%= supplier.name %></td>
								<td><%= supplier.email %></td>
                <td><%= supplier.category%></td>
								<td>
                  <%= link_to supplier_show_path(supplier) do%>
                    <i class="btn btn-primary material-icons " title="editar fornecedor">visibility</i>
                  <%end%>
                  <%=link_to supplier_edit_path(supplier) do%>
                    <i class="btn btn-info material-icons " title="editar fornecedor">edit</i>
                  <%end%>                  
                  <%= link_to supplier_delete_path(supplier), method: :delete, id:'delete' do%>
									  <i class="btn btn-danger material-icons" title="deletar fornecedor">close</i>
                  <% end %>
								</td>
								<% cont = cont + 1%>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>
<%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload'%>